//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import 'node_modules/dfe-frontend/packages/dfefrontend';
@import 'components/govuk-help-form';
@import 'components/govuk-tasklist-show';


.govuk-width-container {
    @include govuk-width-container;
}

.govuk-checkboxes__item-2 {
    display: inline-flex
}

.gem-c-devolved-nations {
    background: #f3f2f1;
    margin-bottom: 15px;
    padding: 15px
}

@media(min-width: 48.0625em) {
    .gem-c-devolved-nations {
        margin-bottom:50px;
        padding: 20px 30px
    }
}

@media print {
    .gem-c-devolved-nations {
        border: 2pt solid #000;
        margin: 0 0 5mm
    }

    .gem-c-devolved-nations * {
        color: #000 !important
    }

    .gem-c-devolved-nations .govuk-list li {
        margin-bottom: 2mm
    }
}