{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">St Mary's Primary School</span>
      <h1 class="govuk-heading-xl">Electricity meters and usage</h1>

      <form class="form" action="" method="post">

<!-- {{ govukRadios({
  classes: "govuk-radios",
  name: "meterType",
  fieldset: {
    legend: {
      text: "Do you want your MPANs consolidated on one bill?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes~/sprint-5/finish",
      text: "Yes"
    },
    {
      value: "No~/sprint-5/finish",
      text: "No, I want a separate bill for each MPAN"
    }
  ]
}) }} -->
  
{{ govukRadios({
  classes: "govuk-radios",
  name: "meterType",
  fieldset: {
    legend: {
      text: "Do you want your MPRNs consolidated on one bill?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes~/sprint-5/elec-info",
      text: "Yes"
    },
    {
      value: "No~/sprint-5/elec-info",
      text: "No, I want a separate bill for each MPRN"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
