{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">St Mary's Primary School: Gas meters and usage</span>
      <h1 class="govuk-heading-l">Gas meter details</h1>

      <form class="form" action="/sprint-5/gas-meter-review-1?addmeter1=1" method="post">

        <p>You can usually find this information on your gas bill. Please check all pages.</p>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="mprn-1">
              Add a Meter Point Reference Number (MPRN)
            </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">
            This is a 6 to 12 digit number on your gas bill. It may also be called MPR or M number.
          </div>
          <input class="govuk-input govuk-input--width-10" id="mprn-1" name="mprn-1" type="text" aria-describedby="mprn-1">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="kwh-1">
            Estimated annual gas usage for this meter, in kilowatt hours
          </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">
            Check your latest gas bill. Some suppliers include your annual estimated usage on the bill. Alternatively, add up the kWh from your last 12 gas bills to calculate your total usage.
          </div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="kwh-1" name="kwh-1" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">kWh</div>
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
