{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your schools: VAT status</span>
      <h1 class="govuk-heading-l">VAT declaration</h1>

      <form class="form" action="/sprint-5/mat-vat-contact?vatd=inProgress" method="post">

        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper">
            <label class="govuk-label" for="vat-num">
             VAT registration number (if applicable)
            </label>
          </h3>
          <input class="govuk-input govuk-input--width-20" id="vat-num" name="vat-num" type="text">
        </div>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}


        {% set textHtml %}
        {{ govukInput({
          label: {
            text: "Percentage of total consumption qualifying for reduced rate of VAT"
          },
          classes: "govuk-input--width-5",
          id: "totalVAT",
          name: "totalVAT",
          suffix: {
            text: "%"
          },
          spellcheck: false
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "invoiceType",
          fieldset: {
            legend: {
              text: "Which VAT rate are you charged?"
            }
          },
          hint: {
            text: "If you're unsure, check your energy bills or ask your Chief Financial Officer"
          },
          items: [
            {
              value: "20%",
              text: "20%",
              conditional: {
                html: 20vatHtml
              }
            },
            {
              value: "5%",
              text: "5%",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}

       

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and go to tasks",
          href: "/sprint-5/tasklist",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
