{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your schools: VAT contact</span>
      <h1 class="govuk-heading-l">VAT contact information</h1>

      <form class="form" action="/sprint-5/vat-certificate" method="post">

        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="vatname">
              Name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="vatname" name="vatname" type="text" autocomplete="vatname">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="vattel">
              Telephone number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="vattel" name="vattel" type="text" autocomplete="vattel">
          </div>
        </fieldset>

        {{ govukRadios({
          id: "invoice-paper",
          name: "invoiceByPaper",
          type: "tel",
          fieldset: {
            legend: {
              text: "Address"
            }
          },
          items: [
            {
              value: "Address 1",
              text: "Address 1"
            },
            {
              value: "Address 2",
              text: "Address 2"
            },
            {
              value: "Address 2",
              text: "Address 2"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and go to tasks",
          href: "/sprint-5/tasklist?vatd=inProgress",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}

      </form>

    </div>
  </div>


{% endblock %}
