{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Lancashire Schools Trust</span>
      <h1 class="govuk-heading-l">Which energy supplies are you switching?</h1>

      <p>Only tick the boxes of the schools switching to the DfE contract.</p>

      <form class="form" action="/sprint-5/mat-authorisation" method="post">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">School name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Energy type</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="ggovuk-table__cell">
              <th scope="row" class="govuk-table__header">All schools</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="selectAllCheckbox" name="mat-gastype" type="checkbox" value="gas-all">
                <label class="govuk-label govuk-checkboxes__label" for="gas-all">
                  Gas
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="elec-all" name="mat-electype" type="checkbox" value="elec-all">
                <label class="govuk-label govuk-checkboxes__label" for="elec-all">
                  Electricity
                </label>
              </div>
            </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Bowland High</th>
              <td class="govuk-table__cell">Riversmead, Sawley Road, BB7 4QS</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input checkboxes" id="gas-school-1" name="mat-gastype" type="checkbox" value="gas-school-1">
                <label class="govuk-label govuk-checkboxes__label" for="gas-school-1">
                  Gas
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="elec-school-1" name="mat-electype" type="checkbox" value="elec-school-1">
                <label class="govuk-label govuk-checkboxes__label" for="elec-school-1">
                  Electricity
                </label>
              </div>
            </td>
            </tr>
          
            </tr>
          </tbody>
        </table>




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $('#selectAllCheckbox').change(function () {
      $('.checkboxes').prop('checked', $(this).prop('checked'));
  });
</script>