{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
VAT contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: VAT declaration</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: VAT declaration</span>
      {% endif %}
      <h1 class="govuk-heading-l">Are these the correct details for VAT purposes?</h1>

      <p>This information will be used to generate a VAT certificate which will be shared with the new suppliers.</p>

      <form class="form" action="/sprint-5/vat-certificate" method="post">


        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Mr Smith</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">Pleckgate High School, Pleckgate Road, BB1 8QA</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Telephone number</th>
              <td class="govuk-table__cell">012345 678 910</td>
            </tr>
          </tbody>
        </table>


        {{ govukRadios({
          classes: "govuk-radios",
          name: "VATcontact",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no~/sprint-5/mat-vat-contact-manual",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
    
          {% if data['check-answers'] == "on" %}
          {% else %}
          <a class="govuk-link" href="/sprint-5/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
