{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Lancashire Schools Trust</span>
      <h1 class="govuk-heading-xl">Provide information about your schools</h1>

      <h2 class="govuk-heading-m">All schools</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/sprint-5/mat-gas-contract?ccd=inProgress" aria-describedby="school-details-1-status">
              Current contract details
            </a>
          </div>
          {% if data['ccd'] == "inProgress" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </div>
          {% elif data['ccd'] == "complete" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>
          {% else %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          </div>
          {% endif %}
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/sprint-5/mat-vat-status?vatd=inProgress" aria-describedby="school-details-2-status">
              VAT Declaration
            </a>
          </div>
          {% if data['vatd'] == "inProgress" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </div>
          {% elif data['vatd'] == "complete" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>
          {% else %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          </div>
          {% endif %}
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/sprint-5/mat-billing-setup?bp=inProgress" aria-describedby="school-details-3-hint school-details-3-status">
              Billing preferences
            </a>
          </div>
          {% if data['bp'] == "inProgress" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </div>
          {% elif data['bp'] == "complete" %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>
          {% else %}
          <div class="govuk-task-list__status" id="school-details-1-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>
          </div>
          {% endif %}
        </li>
      </ul>

      
     

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Bowland High</h2>

     

    </div>
  </div>
{% endblock %}
