{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Energy for schools is currently only processing individual schools.
            <a class="govuk-notification-banner__link" href="#">View service roadmap</a>.
          </p>
        </div>
      </div>

      <span class="govuk-caption-l">About your schools</span>

      <form class="form" action="/path/of/next/page" method="post">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which school are you buying for?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school" name="school" type="radio" value="Downend Highschool">
                <label class="govuk-label govuk-radios__label" for="school">
                  Downend Highschool
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school-2" name="school" type="radio" value="St Mary's Primary School">
                <label class="govuk-label govuk-radios__label" for="school-2">
                  St Mary's Primary School
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school-3" name="school" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="school-3">
                  Burley Gate Primary School
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school-4" name="school" type="radio" value="Aylestone High School">
                <label class="govuk-label govuk-radios__label" for="school-4">
                  Aylestone High School
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
