{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your request for support has been sent",
        html: "We have sent a confirmation email to <br><strong>data['emailAddress']</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        The get help buying for schools team will now review your request. We'll be in touch within 2 working days to find a convenient time to discuss your options.
      </p>

      <p>
        Please check to make sure you receive an email confirmation from us with the next 10 minutes. Check your junk folder if you do not see it.
      </p>

      <p>
        You'll need to submit your request again if you do not recieve an email from us becuase this is how we'll be contacting you.
      </p>

      <h2 class="govuk-heading-m">
        What you can do next
      </h2>
      <p>You can read our guidance about <a href="#">buying energy for your school</a> its includes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>whether you can get a reduced rate VAT</li>
        <li>how to choose between fixed, flexible or variable price contracts</li>
        <li>what to think about when choosing contract length</li>
      </ul>


    </div>
  </div>

{% endblock %}
