{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your request</span>
    

      <form class="form" action="/sprint-5/support/accessibility-needs" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              How can we help?
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            Describe how we can help in a few sentences
          </div>
          <!-- <p class="govuk-body">It would be useful to know:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
            </ul> -->
            <p>Please provide as much information as you can. This will help us to answer your question.</p>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
