{% extends "layouts/govuk-notify.html" %}

{% set pageName="Case [Insert Case Number] - invitation to participate in
  procurement process" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Dear Jo Wade,</p>
      <p class="govuk-body">Thank you for joining Energy for Schools on behalf
        of {{data['schoolName']}}.</p>
      <p class="govuk-body">Your case reference number is HDJ2123F.</p>
      <p class="govuk-body">Please find attached:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a summary of the information you provided</li>
        <li>a copy of the letter of authority</li>
      </ul>
    <p class="govuk-body">The relevant information will also be sent to the new
      supplier(s). If the transfer from your current supplier is successful,
      your new contract(s) will start on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Gas: 1 April 2026</li>
      <li>Electricity: 1 April 2026</li>
    </ul>
    <p class="govuk-body">Check your current contract termination terms and
      notice period to find out how much notice you need to provide to switch
      suppliers. Notice must be provided in writing. DfE cannot do this for you.
    </p>
    <p class="govuk-body">If your school's energy contract is already through
      Crown Commercial Service, DfE will transfer (novate) you onto the new
      account. In this instance, you do not need to give notice to your current
      supplier.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Switch another school</p>
    <p class="govuk-body">Visit <a href="[link]" class="govuk-link" rel="noreferrer noopener" target="_blank">
      [link] (opens in new tab)</a> to switch another school to the
      Energy for Schools contract using the online service.</p>
    <p class="govuk-body">Alternatively, fill in the <a href="#" class="govuk-link">
      Register your interest form</a> and complete the paperwork for
      any additional schools offline.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Objections</p>
    <p class="govuk-body">The new suppliers will start the process of switching
      your supply approximately one month before your new contract's start date.
      If the transfer from your current supplier is refused, this is referred to
      as an objection. DfE will notify you if there has been an objection and
      guide you on what to do next.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Interim rate</a>
    <p class="govuk-body">You may be placed on an interim rate to start with,
      depending on your current contract end date and the start of the next
      available V30 rate.</p>
    <p class="govuk-body">For example, if your current contract ends on 31
      December 2025 and you're set to switch to the V30 rate on 1 April 2026,
      you'll be on an interim rate between 1 January 2026 and 31 March 2026.</p>
    <p class="govuk-body">We'll keep you informed of forecast unit rates once
      your contract starts by sending you a monthly email update.</p>
    <p class="govuk-body govuk-!-font-weight-bold">Billing</p>
    <p class="govuk-body">Your electricity and gas invoices will be issued
      separately by the relevant suppliers.</p>
    <p class="govuk-body">Once your contract begins, DfE will keep you
      updated via email on forecast rates for the following year. You'll also

  </div>
  </div>
{% endblock %}
