{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/sprint-5/start-page" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "journeyType",
            fieldset: {
              legend: {
                text: "Preload data for user journeys",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "single-school",
                text: "Single School"
              },
              {
                value: "mats",
                text: "MATs"
              },
              {
                value: "trust",
                text: "Pilot MAT/Trust"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}
  

        </form>

            </tbody>
        </table>

    </div>


{% endblock %}
