{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "mats" %}
      <span class="govuk-caption-l">Bowland High: Electricity meters and usage</span>
      {% else %}
      <span class="govuk-caption-l">St Mary’s Primary School: Electricity meters and usage</span>
      {% endif %}


      {% if ((data['emeterType'] == "Multi meter") and (data['tasklist'] == "on")) %}
      <form class="form" action="/sprint-6/tasklist?emu1=complete" method="post">
      {% elif ((data['journeyType'] == "mats") and (data['check-answers'] == "on")) %}
      <form class="form" action="/sprint-6/check-answers-mat?gmu1=complete" method="post">
      {% else %}
      <form class="form" action="/sprint-6/mat-site-contact?emu1=complete" method="post">
      {% endif %}

      {{ govukRadios({
        classes: "govuk-radios",
        name: "ebillType",
        fieldset: {
          legend: {
            text: "Do you want your MPANs consolidated on one bill?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Consolidated on one bill",
            text: "Yes",
            checked: checked("ebillType", "Consolidated on one bill")
          },
          {
            value: "Separate bill for each MPAN",
            text: "No, I want a separate bill for each MPAN",
            checked: checked("ebillType", "Separate bill for each MPAN")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      
        {% if data['check-answers'] == "on" %}
        {% else %}
        <a class="govuk-link" href="/sprint-5/tasklist">Discard and go to task list</a>
        {% endif %}
      </div>

      </form>

    </div>
  </div>

{% endblock %}
