{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">St Mary's Primary School: Electricity meters and usage</span>
      <h1 class="govuk-heading-l">MPAN summary</h1>

      <form class="form" action="/path/of/next/page" method="post">


        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">You have added 1 MPAN</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">MPAN</th>
              <th scope="col" class="govuk-table__header">Half-hourly</th>
              <th scope="col" class="govuk-table__header">Estimated annual electricity usage</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['mpan'] }}</th>
              <td class="govuk-table__cell">{{ data['halfHour'] }}</td>
              <td class="govuk-table__cell">{{ data['ekwh'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link govuk-!-margin-right-3" href="/sprint-6/gas-meter-info">Change<span class="govuk-visually-hidden"> name</span></a>
            </tr>
          </tbody>
        </table>

        {% if data['emeterType'] == "Multi meter" %}
        {{ govukButton({
        text: "Add another MPAN",
        href: "elec-meter-info-1",
        classes: "govuk-button--secondary"
        }) }}
        {% else %}
        {% endif %}


  <br>


        
  <div class="govuk-button-group">
    {% if data['emeterType'] == "Single" %}
    {{ govukButton({
      text: "Save and continue",
      href: "mat-site-contact"
    }) }}
    {% else %}
    {{ govukButton({
      text: "Save and continue",
      href: "elec-info-billing"
    }) }}
    {% endif %}

    {% if data['check-answers'] == "on" %}
    {% else %}
    <a class="govuk-link" href="/sprint-5/tasklist">Discard and go to task list</a>
    {% endif %}
  </div>

      </form>

    </div>
  </div>

{% endblock %}
