{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "mats" %}
      <span class="govuk-caption-l">{{ data['school'] }}</span>
      {% else %}
      <span class="govuk-caption-l">St Mary's Primary School</span>
      {% endif %}

      <h1 class="govuk-heading-l">Are you authorised to switch energy suppliers for these schools?</h1>

      <!-- // Gas only  -->
      {% if data['mat-gastype'] == "gas-school-1" %}
      <form class="form" action="/sprint-6/mat-existing-contracts-gas" method="post">
      {% elif data['mat-gastype'] == "gas-school-1,gas-school-2" %}
      <form class="form" action="/sprint-6/mat-existing-contracts-gas" method="post">

      <!-- // Elec only -->
      {% elif data['mat-electype'] == "elec-school-1" %}
      <form class="form" action="/sprint-6/mat-existing-contracts-electric" method="post">
      {% elif data['mat-electype'] == "elec-school-1,elec-school-2" %}
      <form class="form" action="/sprint-6/mat-existing-contracts-electric" method="post">

      <!-- // Gas and elec -->
      {% elif data['journeyType'] == "single-school" %}
      <form class="form" action="/sprint-6/single-school-fuel-selection" method="post">
      {% else %}
      <form class="form" action="/sprint-6/mat-existing-contracts" method="post">
      {% endif %}

        
        <ul class="govuk-list govuk-list--bullet">
          {% if ((data['mat-gastype-1'] == "gas-school-1") or (data['mat-electype-1'] == "elec-school-1")) %}
          <li>Bowland High</li>
          {% else %}
          {% endif %}
          {% if ((data['mat-gastype-2'] == "gas-school-2") or (data['mat-electype-2'] == "elec-school-2")) %}
          <li>Downend Highschool</li>
          {% else %}
          {% endif %}
          {% if data['journeyType'] == "single-school" %}
          <ul class="govuk-list govuk-list--bullet">
            <li>St Mary's Primary School</li>
          </ul>
          {% else %}
          {% endif %}
        </ul>
      

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Please seek appropriate authorisation to switch energy suppliers. There is no cooling off period once you’ve submitted this form.
          </strong>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
