{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: VAT declaration</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: VAT declaration</span>
      {% endif %}
      <h1 class="govuk-heading-l">VAT contact information</h1>

      <form class="form" action="/sprint-6/vat-certificate" method="post">

        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="vatname">
              Name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="vatname" name="vatname" type="text" autocomplete="vatname" value="{{data['vatname']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="vattel">
              Telephone number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="vattel" name="vattel" type="text" autocomplete="vattel" value="{{data['vattel']}}">
          </div>
        </fieldset>

        {{ govukRadios({
          id: "invoice-paper",
          name: "invoiceByPaper",
          type: "tel",
          fieldset: {
            legend: {
              text: "Select an address"
            }
          },
          items: [
            {
              value: "Address 1",
              text: "Address 1",
              checked: {
                html: data['Address 1']
              }
            },
            {
              value: "Address 2",
              text: "Address 2",
              checked: {
                html: data['Address 2']
              }
            },
            {
              value: "Address 3",
              text: "Address 3"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
    
          <a class="govuk-link" href="/sprint-6/tasklist">Discard and go to task list</a>
        </div>

      </form>

    </div>
  </div>


{% endblock %}
