{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: Current contract details</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: Current contract details</span>
      {% endif %}
      <h1 class="govuk-heading-l">Electricity contract</h1>

      {% if data['single-energyType'] == "electricity" %}
      <form class="form" action="/sprint-6/elec-info?ccd=complete" method="post">
      {% elif data['single-energyType'] == "gasandelec" %}
      <form class="form" action="/sprint-6/gas-info?ccd=complete" method="post">
      {% else %}
      <form class="form" action="/sprint-6/mat-vat-status?ccd=complete" method="post">
      {% endif %}


      {% set textHtml %}
      {{ govukInput({
        id: "e-supplier",
        name: "e-supplier",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Electricity supplier"
          
        }
      }) }}
      {% endset -%}
      
      {{ govukRadios({
        name: "e-supplier",
        fieldset: {
          legend: {
            text: "Current electricity supplier",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "British Gas",
            text: "British Gas"
          },
          {
            value: "EDF Energy",
            text: "EDF Energy"
          },
          {
            value: "E.ON Next",
            text: "E.ON Next"
          },
          {
            value: "Scottish Power",
            text: "Scottish Power"
          },
          {
            value: "OVO Energy",
            text: "OVO Energy"
          },
          {
            value: "Octopus Energy",
            text: "Octopus Energy"
          },
          {
            divider: "or"
          },
          {
            value: "text",
            text: "Other",
            conditional: {
              html: textHtml
            }
          }
        ]
      }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="econtract-end-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              When does the contract end?
            </legend>
            <div id="contract-end-hint" class="govuk-hint">
              For example, 27 3 2025 
            </div>
            <div class="govuk-date-input" id="contract-end">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="econtract-end-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="econtract-end-day" name="econtract-end-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="econtract-end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="econtract-end-month" name="econtract-end-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="econtract-end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="econtract-end-year" name="econtract-end-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and go to tasks",
          href: "/sprint-6/tasklist",
          classes: "govuk-button--secondary govuk-!-margin-left-1"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
