          </tbody>
        </table>

        {{ govukRadios({
          name: "ceo-approval",
          fieldset: {
            legend: {
              text: "Has the Trust CEO approved this switch?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, the Trust CEO has approved this switch"
            },
            {
              value: "no",
              text: "No, the Trust CEO has not approved this switch"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "governance-approval",
          fieldset: {
            legend: {
              text: "Is the total value of this contract above £4,000?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, and it has been approved by the governing body",
              conditional: {
                html: "<p class='govuk-body'>You will need to provide evidence of this approval</p>"
              }
            },
            {
              value: "no",
              text: "No, the total value is below £4,000"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
