{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Service only available for single schools
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>The online service does not currently allow for multiple schools to join Energy for Schools using a single form.</p>

        <p class="govuk-body">If your school belongs to a multi-academy trust (MAT), you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use the online service for each individual school within the MAT</li>
          <p>(or)</p>
          <li>contact <a href="#" class="govuk-link">dfe-energy.services-team@education.gov.uk</a> to join using paper forms</li>
        </ul>

        <p>The online service is due to open to MATs on 7 July 2025.</p>


      </form>

    </div>
  </div>

{% endblock %}
