{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: VAT declaration</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: VAT declaration</span>
      {% endif %}
      <h1 class="govuk-heading-l">VAT certificate of declaration</h1>

      {% if data['journeyType'] == "mats" %}
      <form class="form" action="/sprint-6/mat-billing-setup?vatd=complete" method="post">
      {% else %}
      <form class="form" action="/sprint-6/mat-billing-information?vatd=complete" method="post">
      {% endif %}

        <p>This information will be used to generate a VAT certificate which will be shared with the new suppliers.</p>

        <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="dec" name="declaration" type="checkbox" value="dec" {{ checked("declaration", "dec") }}>
            <label class="govuk-label govuk-checkboxes__label" for="dec">
              I certify that the information given is correct and complete and it will remain valid until I inform the supplier in writing of any significant changes in circumstances
            </label>
          </div>
          <br>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="dec-1" name="declaration" type="checkbox" value="dec-1" {{ checked("declaration", "dec-1") }}>
            <label class="govuk-label govuk-checkboxes__label" for="dec-1">
              I undertake to inform the supplier of any change in the qualifying use
            </label>
          </div>
          <br>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="dec-2" name="declaration" type="checkbox" value="dec-2" {{ checked("declaration", "dec-2") }}>
            <label class="govuk-label govuk-checkboxes__label" for="dec-2">
              I understand that any incorrect statement may make me liable for a financial penalty under the Value Added Tax Act (as amended from time to time)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
