{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your school</span>

      <form class="form" action="/sprint-5/support/is-this-your-school" method="post">

        {{ govukInput({
          label: {
            text: "Search for your school",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter the name, postcode or unique reference number (URN) of your school"
          },
          id: "event-name",
          name: "eventName"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
