{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
Electricity meter summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ data['school'] }}</span>
      <h1 class="govuk-heading-l">MPAN summary</h1>
      <form class="form" action="elec-meter-review-2" method="post">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">You have added 3 MPANs</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">MPAN</th>
              <th scope="col" class="govuk-table__header">Half-hourly</th>
              <th scope="col" class="govuk-table__header">Estimated annual electricity usage</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['mpan'] }}</th>
              <td class="govuk-table__cell">{{ data['halfHour'] }}</td>
              <td class="govuk-table__cell">{{ data['ekwh'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a class="govuk-link govuk-!-margin-right-3" href="elec-meter-info">
                  Change<span class="govuk-visually-hidden"> {{data['mpan']}}</span></a>
                <a class="govuk-link" href="remove-mpan">Remove<span class="govuk-visually-hidden"> 
                  {{data['mpan']}}</span></a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['mpan-1'] }}</th>
              <td class="govuk-table__cell">{{ data['halfHour-3'] }}</td>
              <td class="govuk-table__cell">{{ data['ekwh-2'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a class="govuk-link govuk-!-margin-right-3" href="elec-meter-info-1">
                  Change<span class="govuk-visually-hidden"> {{data['mpan-1']}}</span></a>
                <a class="govuk-link" href="remove-mpan">Remove<span class="govuk-visually-hidden"> 
                  {{data['mpan-1']}}</span></a>
              </td>
            </tr>
          </tbody>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['mpan-3'] }}</th>
              <td class="govuk-table__cell">{{ data['halfHour5'] }}</td>
              <td class="govuk-table__cell">{{ data['ekwh-3'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a class="govuk-link govuk-!-margin-right-3" href="elec-meter-info-2">
                  Change<span class="govuk-visually-hidden"> {{data['mpan-3']}}</span></a>
                <a class="govuk-link" href="remove-mpan">Remove<span class="govuk-visually-hidden"> 
                  {{data['mpan-3']}}</span></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add another MPAN</button>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          {% if data['check-answers'] != "on" %}
            <a class="govuk-link" href="/tasklist">Discard and go
            to task list</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
