{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  MPRN summary - Energy for Schools
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="gas-meter-summary" method="post">
        {% if data['mpremove'] == "yes" %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Notice
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">MPRN succesfully
                removed</p>
            </div>
          </div>
        {% endif %}
        <span class="govuk-caption-l">{{ data['school'] }}: Gas meters and usage</span>
        <h1 class="govuk-heading-l">MPRN summary</h1>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">You have
            added 1 MPRN</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">MPRN</th>
              <th scope="col" class="govuk-table__header">Estimated annual gas usage
              </th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['mprn'] }}</td>
              <td class="govuk-table__cell">{{ data['kwh'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link govuk-!-margin-right-3" href="gas-meter">
                Change<span class="govuk-visually-hidden"> MPRN {{ data['mprn'] }}</span></a></td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="addAnotherMPRN" value="true">
            Add another MPRN</button>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({text: "Save and continue"}) }}
          {% if data['check-answers'] != "on" %}
            <a class="govuk-link" href="/single-schools/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
