{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  Before you start - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <form action="before-you-start" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Energy for Schools</h1>
        <h2 class="govuk-heading-l">Before you start</h2>
        <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>authorisation from your school or trust to switch energy supplier</li>
          <li>your electricity and/or gas meter numbers and estimated annual usage
            in kilowatt hours per meter (you can calculate this from your bills)</li>
          <li>your electricity and/or gas contract end date</li>
          <li>the percentage VAT your school is charged for energy, and the
            percentage of total consumption qualifying if you pay 5% VAT</li>
        </ul>
        <p class="govuk-body">If you have a half hourly electricity meter, you
          will also need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>supply capacity (kVA)</li>
          <li>data aggregator</li>
          <li>data collector</li>
          <li>meter operator</li>
        </ul>
        <p class="govuk-body">Ask your current supplier or broker if you need help
          finding this information.</p>
        <p class="govuk-body">This form may take up to 20 minutes to complete,
          providing you have the required information to hand. Allow longer
          if you're using assistive technology, like a screen reader.</p>
        <p class="govuk-body">We'll send you an email with a link once you've
          started the form. We'll also save the answers on each page you complete.
          If you need to exit the form, use the email link to return and complete
          it at a later date.</p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue</button>
      </div>
    </div>
  </form>
{% endblock %}
