{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  Check your answers - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <h2>St Mary's Primary School</h2>
      {% if data['single-energyType'] == "gasandelec" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Current gas supplier</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/single-schools/mat-gas-contract?check-answers=on&tasklist">
                  Change<span class="govuk-visually-hidden"> gas contract
                    information</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who currently supplies your
                  gas?</dt>
                <dd class="govuk-summary-list__value">{{ data['g-supplier'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">When does your contract end?
                  </dt>
                <dd class="govuk-summary-list__value">{{ data['contract-end-day'] }}/{{ data['contract-end-month'] }}/{{ data['contract-end-year'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Current electricity supplier</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/single-schools/mat-electricity-contract?check-answers=on&tasklist">
                  Change<span class="govuk-visually-hidden"> electricity
                    contract information</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who currently supplies your
                  electricity?</dt>
                <dd class="govuk-summary-list__value">{{ data['e-supplier'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">When does your contract end?
                  </dt>
                <dd class="govuk-summary-list__value">{{ data['econtract-end-day'] }}/{{ data['econtract-end-month'] }}/{{ data['econtract-end-year'] }}
                  </dd>
              </div>
            </dl>
          </div>
        </div>
      {% elif data['single-energyType'] == "gas" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Current gas supplier</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/single-schools/mat-gas-contract?check-answers=on&tasklist">
                  Change<span class="govuk-visually-hidden"> gas contract
                    information</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who currently supplies your
                  gas?</dt>
                <dd class="govuk-summary-list__value">{{ data['g-supplier'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">When does your contract end?</dt>
                <dd class="govuk-summary-list__value">{{ data['contract-end-day'] }}/{{ data['contract-end-month'] }}/{{ data['contract-end-year'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      {% elif data['single-energyType'] == "electricity" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Current electricity supplier</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/single-schools/mat-electricity-contract?check-answers=on&tasklist">
                  Change<span class="govuk-visually-hidden"> electricity
                    contract information</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who currently supplies your
                  electricity?</dt>
                <dd class="govuk-summary-list__value">{{ data['e-supplier'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">When does your contract end?
                </dt>
                <dd class="govuk-summary-list__value">{{ data['econtract-end-day'] }}/{{ data['econtract-end-month'] }}/{{ data['econtract-end-year'] }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      {% endif %}
      {% if data['single-energyType'] == "gasandelec" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Gas meters and usage</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                {% if data['meterType'] == "Single meter" %}
                  <a class="govuk-link" href="/single-schools/gas-info?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity contract information</span></a>
                {% else %}
                  <a class="govuk-link" href="/single-schools/gas-meter-review?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity contract information</span></a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a single meter or
                  multi meter site?</dt>
                <dd class="govuk-summary-list__value">{{ data['meterType'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Meter Point Reference Number</dt>
                <dd class="govuk-summary-list__value">{{ data['mprn'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                <dd class="govuk-summary-list__value">{{ data['kwh'] }}</dd>
              </div>
              {% if data['addmeter1'] == "1" %}
                <div class="govuk-summary-list__row">
                 <dt class="govuk-summary-list__key">Meter Point Reference
                  Number 2</dt>
                  <dd class="govuk-summary-list__value">{{ data['mprn-1'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['kwh-1'] }}</dd>
                </div>
              {% endif %}
              {% if data['addmeter2'] == "2" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Meter Point Reference
                    Number 3</dt>
                  <dd class="govuk-summary-list__value">{{ data['mprn-2'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['kwh-2'] }}</dd>
                </div>
              {% endif %}
              {% if data['meterType'] != "Single meter" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Do you want your MPRNs
                    consolidated on one bill?</dt>
                  <dd class="govuk-summary-list__value">{{ data['billType'] }}</dd>
                </div>
              {% endif %}
            </dl>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Electricity meters and usage</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                {% if data['emeterType'] == "Single" %}
                  <a class="govuk-link" href="/single-schools/elec-info?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity meter information</span></a>
                {% else %}
                  <a class="govuk-link" href="/single-schools/elec-meter-review?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity meter information</span></a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a single meter or
                  multi meter site?</dt>
                <dd class="govuk-summary-list__value">{{ data['emeterType'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">MPAN</dt>
                <dd class="govuk-summary-list__value">{{ data['mpan'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                <dd class="govuk-summary-list__value">{{ data['halfHour'] }}</dd>
              </div>
              {% if data['halfHour'] == "Yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">What is the supply
                    capacity?</dt>
                  <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['meterOp'] }}</dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Estimated annual electricity
                  usage</dt>
                <dd class="govuk-summary-list__value">{{ data['ekwh'] }}</dd>
              </div>
              {% if data['eaddmeter1'] == "1" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">MPAN 2</dt>
                  <dd class="govuk-summary-list__value">{{ data['mpan-2'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                  <dd class="govuk-summary-list__value">{{ data['halfHour-3'] }}</dd>
                </div>
                {% if data['halfHour-3'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">What is the supply capacity?</dt>
                    <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['meterOp'] }}
                    </dd>
                  </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual electricity usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['ekwh-2'] }}</dd>
                </div>
              {% endif %}
              {% if data['eaddmeter2'] == "2" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">MPAN 3</dt>
                <dd class="govuk-summary-list__value">{{ data['mpan-3'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                <dd class="govuk-summary-list__value">{{ data['halfHour5'] }}</dd>
              </div>
              {% if data['halfHour5'] == "Yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">What is the supply capacity?</dt>
                  <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['meterOp'] }}</dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Estimated annual electricity
                  usage</dt>
                <dd class="govuk-summary-list__value">{{ data['ekwh-3'] }}</dd>
              </div>
            {% endif %}
            {% if data['emeterType'] != "Single" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Do you want your MPANs
                  consolidated on one bill?</dt>
                <dd class="govuk-summary-list__value">{{ data['ebillType'] }}</dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>
      {% elif data['single-energyType'] == "gas" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Gas meters and usage</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                {% if data['meterType'] == "Single meter" %}
                  <a class="govuk-link" href="/single-schools/gas-info?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity contract information</span></a>
                {% else %}
                  <a class="govuk-link" href="/single-schools/gas-meter-review?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity contract information</span></a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a single meter or
                  multi meter site?</dt>
                <dd class="govuk-summary-list__value">{{ data['meterType'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Meter Point Reference Number</dt>
                <dd class="govuk-summary-list__value">{{ data['mprn'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                <dd class="govuk-summary-list__value">{{ data['kwh'] }}</dd>
              </div>
              {% if data['addmeter1'] == "1" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Meter Point Reference
                    Number 2</dt>
                  <dd class="govuk-summary-list__value">{{ data['mprn-1'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['kwh-1'] }}</dd>
                </div>
              {% endif %}
              {% if data['addmeter2'] == "2" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Meter Point Reference
                    Number 3</dt>
                  <dd class="govuk-summary-list__value">{{ data['mprn-2'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual gas usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['kwh-2'] }}</dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Do you want your MPRNs
                  consolidated on one bill?</dt>
                <dd class="govuk-summary-list__value">{{ data['billType'] }}</dd>
              </div>
            </dl>
          </div>
        </div>
      {% elif data['single-energyType'] == "electricity" %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Electricity meters and usage</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                {% if data['emeterType'] == "Single" %}
                  <a class="govuk-link" href="/single-schools/elec-info?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity meter information</span></a>
                {% else %}
                  <a class="govuk-link" href="/single-schools/elec-meter-review?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> electricity meter information</span></a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a single meter or multi meter site?</dt>
                <dd class="govuk-summary-list__value">{{ data['emeterType'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">MPAN</dt>
                <dd class="govuk-summary-list__value">{{ data['mpan'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                <dd class="govuk-summary-list__value">{{ data['halfHour'] }}</dd>
              </div>
              {% if data['halfHour'] == "Yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">What is the supply capacity?</dt>
                  <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                  <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                  <dd class="govuk-summary-list__value">{{ data['meterOp'] }}</dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Estimated annual electricity
                  usage</dt>
                <dd class="govuk-summary-list__value">{{ data['ekwh'] }}</dd>
              </div>
              {% if data['eaddmeter1'] == "1" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">MPAN 2</dt>
                  <dd class="govuk-summary-list__value">{{ data['mpan-1'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                  <dd class="govuk-summary-list__value">{{ data['halfHour-3'] }}</dd>
                </div>
                {% if data['halfHour-3'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">What is the supply
                      capacity?</dt>
                    <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['meterOp'] }}</dd>
                  </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual
                    electricity usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['ekwh-1'] }}</dd>
                </div>
              {% endif %}
              {% if data['eaddmeter2'] == "2" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">MPAN 3</dt>
                  <dd class="govuk-summary-list__value">{{ data['mpan-2'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Is this a half-hourly MPAN?</dt>
                  <dd class="govuk-summary-list__value">{{ data['halfHour-4'] }}</dd>
                </div>
                {% if data['halfHour-4'] == "Yes" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">What is the supply capacity?</dt>
                    <dd class="govuk-summary-list__value">{{ data['kva'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data aggregator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataAgg'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the data collector?</dt>
                    <dd class="govuk-summary-list__value">{{ data['dataCollector'] }}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Who is the meter operator?</dt>
                    <dd class="govuk-summary-list__value">{{ data['meterOp'] }}</dd>
                  </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Estimated annual
                    electricity usage</dt>
                  <dd class="govuk-summary-list__value">{{ data['ekwh-2'] }}</dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Do you want your MPANs
                  consolidated on one bill?</dt>
                <dd class="govuk-summary-list__value">{{ data['ebillType'] }}</dd>
              </div>
            </dl>
          </div>
        </div>
      {% endif %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Site contact details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/single-schools/mat-site-contact?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> site contact information</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">First name</dt>
              <dd class="govuk-summary-list__value">{{ data['scontact-firstname'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last name</dt>
              <dd class="govuk-summary-list__value">{{ data['scontact-lastname'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email</dt>
              <dd class="govuk-summary-list__value">{{ data['scontact-email'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Telephone</dt>
              <dd class="govuk-summary-list__value">{{ data['scontact-tel'] }}</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">VAT Declaration</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/single-schools/mat-vat-declaration?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> vat declaration</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% if data['vatType'] == "5%" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT rate</dt>
                <dd class="govuk-summary-list__value">{{ data['vatType'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Percentage of total
                  consumption qualifying for reduced rate of VAT</dt>
                <dd class="govuk-summary-list__value">{{ data['vat-num'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT registration number</dt>
                <dd class="govuk-summary-list__value">{{ data['vat-reg'] }}</dd>
              </div>
              {% if data['VATcontact'] == "yes" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Contact name</dt>
                  <dd class="govuk-summary-list__value">Mr smith</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Address</dt>
                  <dd class="govuk-summary-list__value">Pleckgate High School,
                    Pleckgate Road, BB1 8QA</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Telephone number</dt>
                  <dd class="govuk-summary-list__value">012345 678 910</dd>
                </div>
              {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact name</dt>
                <dd class="govuk-summary-list__value">{{ data['vatname'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone number</dt>
                <dd class="govuk-summary-list__value">{{ data['vattel'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">{{ data['invoiceByPaper'] }}</dd>
              </div>
            {% endif %}
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT rate</dt>
              <dd class="govuk-summary-list__value">{{ data['vatType'] }}</dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>
    {% if data['VATstatus'] == "no" %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">VAT Declaration</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/single-schools/mat-vat-declaration?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> VAT information</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT rate</dt>
              <dd class="govuk-summary-list__value">{{ data['vatType'] }}</dd>
            </div>
            {% if data['vatType'] == "5%" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Percentage of total
                  consumption qualifying for reduced rate of VAT</dt>
                <dd class="govuk-summary-list__value">{{ data['vat-num'] }}%</dd>
              </div>
            {% endif %}
            {% if data['VATcontact'] == "yes" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact name</dt>
                <dd class="govuk-summary-list__value">Mr smith</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">Pleckgate High School,
                  Pleckgate Road, BB1 8QA</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone number</dt>
                <dd class="govuk-summary-list__value">012345 678 910</dd>
              </div>
            {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact name</dt>
                <dd class="govuk-summary-list__value">{{ data['vatname'] }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">{{ data['address-line-1'] }}, {{ data['address-line-2'] }}, {{ data['address-town'] }}, {{
                  data['address-county'] }}, {{ data['address-postcode'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone number</dt>
                <dd class="govuk-summary-list__value">{{ data['vattel'] }}</dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>
    {% endif %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Billing preferences</h3>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/single-schools/mat-billing-information?check-answers=on&tasklist">Change<span class="govuk-visually-hidden"> billing preferences</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">How will you pay your bills?</dt>
            <dd class="govuk-summary-list__value">{{ data['paymentType'] }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Payment terms</dt>
            <dd class="govuk-summary-list__value">{{ data['paymentTerms'] }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">How would you like to receive
              your bills?</dt>
            <dd class="govuk-summary-list__value">{{ data['invoiceType'] }}</dd>
          </div>
          {% if data['invoiceType'] == "email" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email for invoice</dt>
              <dd class="govuk-summary-list__value">{{ data['invoiceByEmail'] }}</dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address for invoice</dt>
            <dd class="govuk-summary-list__value">{{ data['billaddress'] }}</dd>
          </div>
        </dl>
      </div>
    </div>
    <p class="govuk-body">By submitting this application you are confirming
      that, to the best of your knowledge, the details you are providing are
      correct.</p>
    <p class="govuk-body">You cannot change your answers once you've submitted
      the form.</p>
    {{ govukButton({text: "Continue",href: "/single-schools/authorisation"}) }}
  </div>
</div>
{% endblock %}
