{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  Gas meter details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/single-schools/gas-meter-review-2?addmeter2=2" method="post">
        <span class="govuk-caption-l">St Mary's Primary School: Gas meters and
          usage</span>
        <h1 class="govuk-heading-l">Gas meter details</h1>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label govuk-label--s" for="mprn-2">
              Add a Meter Point Reference Number (MPRN)
            </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">This is a 6 to 12 digit
            number on your gas bill. It may also be called MPR or M number.</div>
          <input class="govuk-input govuk-input--width-10" id="mprn-2" name="mprn-2" type="text" aria-describedby="mprn-2" value="{{ data['mprn-2'] }}">
        </div>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label govuk-label--s" for="kwh-2">
              Estimated annual gas usage for this meter, in kilowatt hours (kWh)
            </label>
          </h2>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Where can I find annual
                gas usage?</span>
            </summary>
            <div class="govuk-details__text">
              If your annual estimated usage for this meter is not on your bill,
              add up the kWh for this meter from your last 12 gas bills to
              calculate your total usage.</div>
          </details>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-5" id="kwh-2" name="kwh-2" type="text" spellcheck="false" value="{{ data['kwh-2'] }}">
            <div class="govuk-input__suffix" aria-hidden="true">kWh</div>
          </div>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({text: "Save and continue"}) }}
          {% if data['check-answers'] != "on" %}
            <a class="govuk-link" href="/single-schools/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
