{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  Which school are you buying for? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="trust-schools" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">About your schools</span>
              <h1 class="govuk-fieldset__heading">TRUST SCHOOLS</h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school1" name="school" type="radio" value="School 1">
                <label class="govuk-label govuk-radios__label" for="school1">
                  School 1</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school2" name="school" type="radio" value="School 2">
                <label class="govuk-label govuk-radios__label" for="school2">
                  School 2</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school3" name="school" type="radio" value="School 3">
                <label class="govuk-label govuk-radios__label" for="school3">
                  School 3</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school4" name="school" type="radio" value="School 4">
                <label class="govuk-label govuk-radios__label" for="school4">
                  School 4</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school5" name="school" type="radio" value="School 5">
                <label class="govuk-label govuk-radios__label" for="school5">
                  School 5</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school6" name="school" type="radio" value="School 6">
                <label class="govuk-label govuk-radios__label" for="school6">
                  School 6</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school7" name="school" type="radio" value="School 7">
                <label class="govuk-label govuk-radios__label" for="school7">
                  School 7</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school8" name="school" type="radio" value="School 8">
                <label class="govuk-label govuk-radios__label" for="school8">
                  School 8</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="school9" name="school" type="radio" value="School 9">
                <label class="govuk-label govuk-radios__label" for="school9">
                  School 9</label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
