{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Letter of authority - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/single-schools/confirmation" method="post">
        <h1 class="govuk-heading-xl">Agree to the Energy for Schools letter of
          authority</h1>
        <p class="govuk-body">This letter of authority sets out the arrangements
          agreed between the Department for Education ('DfE')and [school/trust
          name] (the 'Education Provider') in connection with the provision of
          energy supplies.</p>
        <p class="govuk-body">This letter supersedes and replaces all previous
          agreements between DfE and the Education Provider in relation to the
          supply of gas and/or electricity.</p>
        <p class="govuk-body">DfE has entered into and/or will enter into one or
          more Framework Agreements with various suppliers for the provision of
          gas and/or electricity to DfE and to various sites identified by DfE.
          Each such energy supplier is referred to in this letter as a
          'Supplier'. Under the Framework Agreements, DfE is entitled to request
          a Supplier to provide gas and/or electricity to locations identified
          by DfE.</p>
        <p class="govuk-body">The Education Provider has requested and DfE has
          agreed to arrange for the supply of gas and/or electricity to the
          following Site(s):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>[school/trust name], [school address]</li>
        </ul>
        <h2 class="govuk-heading-l">Appointment</h2>
        <p class="govuk-body">The Education Provider appoints and authorises DfE
          to act on behalf of the Education Provider to negotiate and conclude
          arrangements with the relevant Supplier for the supply of gas and/or
          electricity to theSite(s).</p>
        <p class="govuk-body">The Education Provider acknowledges that DfE's
          appointment includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>obtaining consumption and billing data for the purposes of
            conducting consumption and cost analysis</li>
          <li>obtaining contractual details (contract durations and terms) for
            existing energy supplies</li>
          <li>notifying energy suppliers of or initiating 'Change of Tenancies'
            (COT's) or Novations</li>
          <li>notifying energy suppliers of or initiating 'Change of Address'
            for any of the School/Academy's accounts or billing addresses</li>
          <li>providing annual trading reports and monthly consolidated data
            reports to help budget forecasting</li>
          <li>taking responsibility for the contractual arrangements between DfE
            and the Suppliers</li>
        </ul>
        <p class="govuk-body">but does not include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>terminating existing supply contracts</li>
          <li>obtaining supply price quotations from energy suppliers for
            consideration or acceptance by the Education Provider</li>
          <li>claiming or obtaining refunds from Suppliers on billing
            'over-charges' following analysis</li>
          <li>undertaking any public procurement activities or notices</li>
        </ul>
        <h3 class="govuk-heading-m">Responsibilities</h3>
        <p class="govuk-body">The Education Provider acknowledges and agrees
          that it is responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>paying the charges (and any interest) for the gas and/or
            electricity supplied (as set out above)</li>
          <li>notifying the Supplier as soon as reasonably practicable if it
            believes that there has been any damage or change to, or
            interference with any metering equipment used for the supply of
            energy and/or recording of energy consumption</li>
          <li>protecting the metering equipment against weather damage, physical
            damage and any unauthorised third party interference or adjustment</li>
          <li>where required, providing meter readings to the Supplier for the
            purposes of calculating energy consumption and the associated charges</li>
          <li>providing safe and reasonable access to the Supplier, its
            employees and agents for purposes related to the supply of gas
            and/or electricity including inspecting, testing, maintaining,
            repairing and replacing any metering equipment</li>
        </ul>
        <h3 class="govuk-heading-m">Invoices and billing</h3>
        <p class="govuk-body">The Education Provider acknowledges and agrees
          that DfE shall direct the relevant Supplier to issue invoices directly
          to the Education Provider in relation to the gas and/or electricity
          consumed at the Site(s).</p>
        <p class="govuk-body">The Education Provider agrees that it will be
          responsible for and shall pay the charges set out in the relevant
          invoices in accordance with the payment terms agreed between the
          relevant energy supplier and the Education Provider. In the case of any
          late payments, the Education Provider shall be liable for interest in
          accordance with the payment terms advised by the relevant Supplier.</p>
        <p class="govuk-body">If, because of the Education Provider not paying
          any invoiced charges on time or at all in accordance with this letter,
          DfE is required to make payment of any sums to the Supplier, then DfE
          shall be entitled to deduct and retain an equivalent sum of money from
          any funding payable by DfE to the Education Provider under the
          relevant DfE Conditions of Funding/Funding Agreement. This right is
          without prejudice to and in addition to any other rights of DfE to
          withhold or suspend payment under the relevant conditions of funding,
          0funding agreement or funding rules.</p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="agree-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="agree1" name="agree" type="checkbox" value="agree" {{ checked("agree", "agree") }}/>
                <label class="govuk-label govuk-checkboxes__label" for="agree1">I
                  confirm that I am authorised by the Education Provider to
                  switch the supply of gas and/or electricity at the Site(s) to
                  the Energy for Schools contract</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="agree-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="agree2" name="agree" type="checkbox" value="agree" {{ checked("agree", "agree") }}/>
                <label class="govuk-label govuk-checkboxes__label" for="agree2">I
                  confirm that I have read this letter of authority and the
                  Education Provider agrees to its terms and conditions</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="agree-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="agree3" name="agree" type="checkbox" value="agree" {{ checked("agree", "agree") }}/>
                <label class="govuk-label govuk-checkboxes__label" for="agree3">I
                  understand that my name will be used as the authorised
                  signatory for this letter of authority</label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ govukButton({text: "Submit"}) }}
      </form>
    </div>
  </div>
{% endblock %}
