{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Energy for Schools
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back", href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <p class="govuk-body-l">How state-funded schools and trusts can join
        Energy for Schools, an alternative to energy procurement, which may save
        time and money.</p>
      <section data-ga4-devolved-nations-banner="England" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;devolved nations banner&quot;,&quot;section&quot;:&quot;Applies to England&quot;,&quot;index_total&quot;:0}" aria-label="Nation" class="gem-c-devolved-nations" data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Applies to England
        </h2>
      </section>
      <div class="govuk-form-group">
        <h2 class="govuk-body-m">Contents</h2>
        <ul class="govuk-list">
          <li>&#8212; <a href="#about" class="govuk-link">About Energy for
            Schools</a></li>
          <li>&#8212; <a href="#v30" class="govuk-link">The contract</a></li>
          <li>&#8212; <a href="#compliance" class="govuk-link">Compliance</a></li>
          <li>&#8212; <a href="#considerations" class="govuk-link">
            Considerations</a></li>
          <li>&#8212; <a href="#how-to-join" class="govuk-link">How to join</a></li>
        </ul>
      </div>
      <h2 id="about" class="govuk-heading-m">About Energy for Schools</h2>
      <p class="govuk-body">Energy for Schools offers schools a simpler, safer
        way to manage their energy needs</p>
      <p class="govuk-body">DfE manages the contract on behalf of schools
        through procurement specialists Crown Commercial Service (CCS). On the
        current contract, referred to as V30 or the V30 basket, electricity is
        supplied by EDF, and gas is supplied by TotalEnergies.</p>
      <p class="govuk-body">The V30 contract is a low-risk variable rate contract.
        Prices can go up and down, but changes are less drastic than other variable
        rates. It's the most stable variable rate contract available to schools,
        although it may not always give you the lowest price.</p>
      <h3 class="govuk-heading-s">Benefits</h3>
      <p class="govuk-body">All central government departments use V30 to
        compliantly procure their energy supply.</p>
      <p class="govuk-body">V30 could save schools money on their bills.
        According to a price comparison exercise carried out by DfE, schools
        could've saved on average 36% on their energy bills in the financial
        year ending 2024 had they been on V30.</p>
      <p class="govuk-body">If your school joins Energy for Schools, DfE will
        handle certain contractual responsibilities and administrative paperwork
        with the new energy suppliers.</p>
      <p class="govuk-body">This means schools:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>save time by using our simplified onboarding process</li>
        <li>don't have to deal with complex energy contracts</li>
        <li>are exempt from the usual requirements around procurement</li>
      </ul>
      <p class="govuk-body">This process is free to access and use.</p>
      <h2 id="v30" class="govuk-heading-m">The contract</h2>
      <p class="govuk-body">The V30 basket with CCS is a low-risk variable rate
        contract.</p>
      <p class="govuk-body">Prices can go up and down, but changes are less
        drastic than other variable rates. It's the most stable variable rate
        contract available to schools, although it may not always give you the
        lowest price.</p>
      <p class="govuk-body">CCS cannot provide potential customers with energy
        prices before they join due to commercial sensitivity.</p>
      <p class="govuk-body">To get an estimate of prices, email <a href="mailto:dfe-energy.services-team@education.gov.uk" class="govuk-link">
        dfe-energy.services-team@education.gov.uk</a>  and request
        DfE's benchmarking service. We'll provide a price comparison based on
        your energy bills from the last financial year.</p>
      <p class="govuk-body">This is a rolling contract, meaning your school will
        remain on V30 until you give notice to exit. 30 months' notice is
        required.</p>
      <h3 class="govuk-heading-s">Start date</h3>
      <p class="govuk-body">New customers are added to the V30 basket every
        April, although you can join at any time. Your application date and
        current contract's expiry date will determine which year you'll join
        V30, and whether you'll be placed on an interim rate contract.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Application deadline</th>
            <th scope="col" class="govuk-table__header">V30 start dates</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">11 September 2025</td>
            <td class="govuk-table__cell">1 April 2026</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">September 2026</td>
            <td class="govuk-table__cell">1 April 2027</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">September 2027</td>
            <td class="govuk-table__cell">1 April 2028</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body">Check your current contract's termination terms and
        notice period. You'll need to serve out your notice period and inform
        your supplier if you join Energy for Schools. DfE cannot do this for
        you.</p>
      <p class="govuk-body">If your school's energy contract is already through
        CCS, DfE will transfer (novate) you onto the new account. In this
        instance, you'll not need to give notice to your current supplier.</p>
      <h3 class="govuk-heading-s">Interim rate</h3>
      <p class="govuk-body">An interim rate contract is a temporary arrangement.
        You'll be placed on an interim rate if there's a gap between your
        current contract's expiry date and the next available start date for
        V30.</p>
      <p class="govuk-body">For example, if you apply in October 2025 and your
        current contract ends on 31 December 2025, you'll join the V30 on 1
        April 2027 and be placed on an interim rate between 1 January 2026 and
        31 March 2027.</p>
      <p class="govuk-body">You'll still benefit from all framework protections,
        including procurement compliance, social value commitments and data
        security measures. </p>
      <p class="govuk-body">Interim rates are <a href="mailto:dfe-energy.services-team@education.gov.uk" class="govuk-link">
        available on request</a>.
      <p class="govuk-body">You'll automatically move onto the next available
        V30 when your interim contract ends.</p>
      <p class="govuk-body">If you're out of contract and need an immediate
        energy supply, you'll be placed on interim rates.</p>
      <h3 class="govuk-heading-s">Billing</h3>
      <p class="govuk-body">Your electricity and gas invoices will be issued
        separately by the relevant suppliers.</p>
      <p class="govuk-body">Once your contract begins, DfE will keep you updated
        via email on forecast rates for the following year. You'll also be
        granted portal access, which allows you to view a breakdown of your
        energy consumption.</p>
      <h2 id="compliance" class="govuk-heading-m">Compliance</h2>
      <p class="govuk-body">Energy for Schools is a contract and not a
        procurement process. By joining, you'll be switching to the CCS
        framework used by DfE.</p>
      <p class="govuk-body">The CCS framework complies with the Public Contracts
        Regulation 2015, the legislation in place at the time the framework was
        established. It is therefore procurement compliant. Any future changes
        to the CCS framework will comply with the new Procurement Act.</p>
      <p class="govuk-body">Schools joining the framework will have complied
        with DfE's Buying Procedures and Procurement Law for Schools.</p>
      <p class="govuk-body">That means you're exempt from the procurement
        protocol of securing 3 quotes or going out to market.</p>
      <h2 id="considerations" class="govuk-heading-m">Considerations</h2>
      <h3 class="govuk-heading-s">VAT declaration</h3>
      <p class="govuk-body">You'll be asked to declare your VAT status when
        joining Energy for Schools. This is to ensure you're charged the correct
        amount of VAT on your energy supplies.</p>
      <p class="govuk-body">If you're unsure how much VAT you're currently
        charged for gas and electricity, check with your tax advisor. If you're
        a local authority-maintained school, check with your local authority.</p>
      <h3 class="govuk-heading-s">Renewable energy</h3>
      <p class="govuk-body">The energy supply is from the supplier's standard
        'Brown' product. Everyone who uses this supply gets 30-40% renewable
        energy through the UK power grid. This percentage is increasing as more
        renewable energy sources are added to the grid.</p>
      <p class="govuk-body">You can choose to pay more for a product that
        contains more renewable energy. Email <a href="mailto:dfe-energy.services-team@education.gov.uk" class="govuk-link">
        dfe-energy.services-team@education.gov.uk</a>to discuss
        renewable options.</p>
      <p class="govuk-body">Energy savings made through renewable energy, such
        as solar panels, are not factored into this contract. You should
        continue your current arrangement or contact EDF about setting up a
        Smart Export Guarantee if you wish to export energy back to the grid.</p>
      <h2 id="how-to-join" class="govuk-heading-m">How to join</h2>
      <p class="govuk-body">State-funded schools and trusts in England that want
        to switch to the contract can do so by filling in  <a href="#" class="govuk-link">
          an online form.</a></p>
      <p class="govuk-body">Depending on which supply you're switching, you'll
        need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your contract end date</li>
        <li>who your supplier is</li>
        <li>how many meters you have on site, and their numbers (MPRN/ MPAN)</li>
        <li>estimated annual usage per meter in kWh</li>
        <li>your data aggregator, data collector and meter operator, if you have
          half-hourly meters (ask your current supplier if you're unsure)</li>
        <li>your VAT details, if you pay 5% VAT</li>
      </ul>
      <p class="govuk-body">DfE will share your information with the new
        suppliers and send you a confirmation email with details of what happens
        next.</p>
      <h3 class="govuk-heading-s">Objections</h3>
      <p>In some cases, the current energy supplier may raise an objection to
        switching contracts. Common reasons for objections include unpaid
        invoices, incorrect meter numbers or insufficient notice given to
        terminate the current contract.</p>
      <p>DfE will inform you if an objection is raised. You'll need to contact
        your existing supplier to resolve the issue so that you can switch
        contracts - DfE does not have the authority to do this for you.</p>
      <p>For queries about Energy for Schools or help joining, email <a href="mailto:dfe-energy.services-team@education.gov.uk" class="govuk-link">
        dfe-energy.services-team@education.gov.uk</a></p>
      {{ govukButton({
        text: "Join Energy for Schools",
        href: "/sprint-5/start-page"
      }) }}
      {{ govukButton({
        text: "Request support",
        href: "/sprint-5/support/request-for-help-email",
        classes: "govuk-button--secondary govuk-!-margin-left-1"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="/sprint-5/start-page">Join Energy for Schools</a></li>
            <li><a href="/sprint-5/request-for-help-email">Request support</a>
              </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
