{% extends "layouts/main-branding-2025.html" %}

{% block pageTitle %}
  {{ serviceName }} – Page by page listings
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page by page listings</h1>
      <p><a href="/admin/data">Data that has been stored as part of current
        session</a></p>
      <p><a href="/manage-prototype/clear-data">Clear data</a></p>
      <h2 class="govuk-heading-l">DfE sign in</h2>
          <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/single-schools/start-page">Start
                page</a></li>
              <li><a class="govuk-link" href="/single-schools/guidance-page">
                Guidance page</a></li>
              <li><a class="govuk-link" href="/single-schools/before-you-start">
                Before you start</a></li>
              <li><a class="govuk-link" href="/single-schools/request-for-help-email">
                Do you have a DfE sign in account?</a></li>
              <li><a class="govuk-link" href="/single-schools/dfe-sign-in-email">
                DfE sign in email</a></li>
              <li><a class="govuk-link" href="/single-schools/dfe-sign-in-password">
                DfE sign in password</a></li>
              <li><a class="govuk-link" href="/single-schools/which-school-are-you-buying-for">
                DfE school selection</a></li>
              <li><a class="govuk-link" href="/single-schools/pilot-service-only-single-schools">
                Pilot Trust/MAT error</a></li>
          </ul>
          <h2 class="govuk-heading-l">On boarding form</h2>
          <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="/single-schools/single-school-fuel-selection">
                Are you switching electricity, gas or both?</a></li>
              <li><a class="govuk-link" href="/single-schools/tasklist">
                Tasklist</a></li>
              <li><a class="govuk-link" href="/single-schools/vat-certificate">
                VAT certificate</a></li>
              <li><a class="govuk-link" href="/single-schools/gas-info">
                Gas Multi or Single meter</a></li>
              <li><a class="govuk-link" href="/single-schools/gas-meter-info">
                Gas Meter readings</a></li>
              <li><a class="govuk-link" href="/single-schools/gas-meter-review">
                Gas Review MPRNs and readings</a></li>
              <li><a class="govuk-link" href="/single-schools/remove-mprn">
                Remove MPRN</a></li>
              <li><a class="govuk-link" href="/single-schools/multi-meter-prompt">
                Multi meter prompt</a></li>
              <li><a class="govuk-link" href="/single-schools/gas-info-billing">
                Gas billing info</a></li>
              <li><a class="govuk-link" href="/single-schools/elec-info">
                Electric Multi or Single meter</a></li>
              <li><a class="govuk-link" href="/single-schools/elec-meter-info">
                Electric Meter readings</a></li>
              <li><a class="govuk-link" href="/single-schools/elec-meter-review">
                Electric Review MPANs and readings</a></li>
              <li><a class="govuk-link" href="/single-schools/elec-info-billing">
                Electric billing info</a></li>
              <li><a class="govuk-link" href="/single-schools/mat-site-contact">
                Site contact</a></li>
              <li><a class="govuk-link" href="/single-schools/check-answers-single-school">
                Check answers</a></li>
              <li><a class="govuk-link" href="/single-schools/authorisation">
                Declaration</a></li>
              <li><a class="govuk-link" href="/single-schools/confirmation">
                Confirmation page</a></li>
          </ul>
          <h2 class="govuk-heading-l">Support journeys</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/single-schools/support/request-for-help-email">
              Do you have a DfE Sign-in account linked to the school</a></li>
            <li><a class="govuk-link" href="/single-schools/support/what-type-of-org">
              What type of organisation</a></li>
            <li><a class="govuk-link" href="/single-schools/support/school-search">
              Search for school</a></li>
            <li><a class="govuk-link" href="/single-schools/support/is-this-your-school">
              Is this the school you're buying for?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/which-schools-list">
              (Sign in) MATS Is this the school you're buying for?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/what-is-your-name">
              What is your name?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/what-is-your-email">
              What is your email address?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/how-can-we-help">
              How can we help?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/accessibility-needs">
              Do you have any access needs?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/how-did-you-find-out-about-this-service">
              How did you find this service?</a></li>
            <li><a class="govuk-link" href="/single-schools/support/send-your-request">
              Send your request</a></li>
            <li><a class="govuk-link" href="/single-schools/support/confirmation">
              Confirmation</a></li>
          </ul>





    </div>
  </div>

{% endblock %}
