{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
Billing address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: Billing preferences</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: Billing preferences</span>
      {% endif %}
 
      {% if data['check-answers'] == "on" %}
      <form class="form" action="/sprint-5/check-answers-single-school" method="post">
      {% else %}
      <form class="form" action="/sprint-5/tasklist?bp=complete" method="post">
      {% endif %}

        {{ govukRadios({
          id: "bill-address",
          name: "billaddress",
          fieldset: {
            legend: {
              text: "Billing address",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Address 1",
              text: "Address 1"
            },
            {
              value: "Address 2",
              text: "Address 2"
            },
            {
              value: "Address 2",
              text: "Address 2"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
  
          {% if data['check-answers'] == "on" %}
          {% else %}
          <a class="govuk-link" href="/sprint-5/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>


{% endblock %}
