{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
Gas contract – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: Current gas supplier</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: Current gas supplier</span>
      {% endif %}
      <h1 class="govuk-heading-l">Gas contract</h1>

      {% if data['single-energyType'] == "gas" %}
      <form class="form" action="/sprint-5/gas-info?ccd=complete" method="post">
      {% elif data['tasklist'] == "on" %}
      <form class="form" action="/sprint-5/tasklist?ccd=complete" method="post">
      {% elif data['check-answers'] == "on" %}
      <form class="form" action="/sprint-5/check-answers-single-school?ccd=complete" method="post">
      {% else %}
      <form class="form" action="/sprint-5/mat-electricity-contract?ccd=complete" method="post">
      {% endif %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      

      
        {% set textHtml %}
        {{ govukInput({
          id: "g-supplier",
          name: "g-supplier",
          type: "text",
          autocomplete: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Gas supplier"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "g-supplier",
          fieldset: {
            legend: {
              text: "Who currently supplies your gas?",
              isPageHeading: false,
               classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "British Gas",
              text: "British Gas"
            },
            {
              value: "EDF Energy",
              text: "EDF Energy"
            },
            {
              value: "E.ON Next",
              text: "E.ON Next"
            },
            {
              value: "Scottish Power",
              text: "Scottish Power"
            },
            {
              value: "OVO Energy",
              text: "OVO Energy"
            },
            {
              value: "Octopus Energy",
              text: "Octopus Energy"
            },
            {
              divider: "or"
            },
            {
              value: "text",
              text: "Other",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="contract-end-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              When does the contract end?
            </legend>
            <div id="contract-end-hint" class="govuk-hint">
              For example, 27 3 2025 
            </div>
            <div class="govuk-date-input" id="contract-end">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="contract-end-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="contract-end-day" name="contract-end-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="contract-end-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="contract-end-month" name="contract-end-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="contract-end-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="contract-end-year" name="contract-end-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
  
          {% if data['check-answers'] == "on" %}
          {% else %}
          <a class="govuk-link" href="/sprint-5/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
