{% extends "layouts/main-no-help-form.html" %}

{% block pageTitle %}
  Site contact details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({text: "Back",href: "javascript:window.history.back()"}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if (data['tasklist'] == "on") %}
        <form class="form" action="/single-schools/tasklist?scontact=complete" method="post">
      {% elif (data['check-answers'] == "on") %}
        <form class="form" action="/single-schools/check-answers-single-school" method="post">
      {% else %}
        <form class="form" action="/single-schools/mat-vat-declaration?scontact=complete" method="post">
      {% endif %}
      <span class="govuk-caption-l">St Mary's Primary School: Site contact details</span>
      <h1 class="govuk-heading-l">Who manages site access and maintenance?</h1>
      <p class="govuk-body">This is in case the supplier needs access to the
        site or meter equipment, or in case of emergency.</p>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="scontact-firstname">First
          name</label>
        <input class="govuk-input govuk-input--width-20" id="scontact-firstname" name="scontact-firstname" type="text" value="{{data['scontact-firstname']}}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="scontact-lastname">Last
          name (optional)</label>
        <input class="govuk-input govuk-input--width-20" id="scontact-lastname" name="scontact-lastname" type="text" value="{{data['scontact-lastname']}}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="scontact-email">Email</label>
        <input class="govuk-input govuk-input--width-20" id="scontact-email" name="scontact-email" type="text" value="{{data['scontact-email']}}"/>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="scontact-tel">Telephone</label>
        <input class="govuk-input govuk-input--width-20" id="scontact-tel" name="scontact-tel" type="text" value="{{data['scontact-tel']}}"/>
      </div>
      <div class="govuk-button-group">
        {{ govukButton({text: "Save and continue"}) }}
          {% if data['check-answers'] != "on" %}
            <a class="govuk-link" href="/single-schools/tasklist">Discard and go
              to task list</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
