{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About your procurement</span>

      <form class="form" action="/sprint-7/support/send-your-request" method="post">

      {% set otherHtml %}
      {{ govukInput({
        id: "otherFind",
        name: "otherFind",
        type: "text",
        autocomplete: "text",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Please specify"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        name: "foundOut",
        fieldset: {
          legend: {
            text: "How did you first find out about this service?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We'll contact you by email first. Ifwe need more information we'll arrange a video call with you later. Let us know if ethier of these need to be made accessible to you and how you'd like us to do that."
        },
        items: [
          {
            value: "I've used this service before",
            text: "I've used this service before"
          },
          {
            value: "Meeting or event",
            text: "Meeting or event"
          },
          {
            value: "Newsletter",
            text: "Newsletter"
          },
          {
            value: "Recommendation",
            text: "Recommendation"
          },
          {
            value: "Search engine, such as google",
            text: "Search engine, such as google"
          },
          {
            value: "Social media, such a Twitter",
            text: "Social media, such a Twitter"
          },
          {
            value: "No",
            text: "Website, such as GOV.UK"
          },
          {
            value: "Other",
            text: "Other",
            conditional: {
              html: otherHtml
          }
          }
        ]
      }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
