{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h1 class="govuk-heading-l">Sprint 5</h1>

    {{ govukButton({
        text: "Start journey",
        href: "/sprint-5/start-page"
    }) }}

    {{ govukButton({
    text: "Page by page listings and scenarios",
    href: "admin/listings",
    classes: "govuk-button--secondary govuk-!-margin-left-1"
    }) }}

    {{ govukButton({
      text: "Load data for MATs or Single journey",
      href: "admin/preload-data",
      classes: "govuk-button--secondary govuk-!-margin-left-1"
      }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-l">User research</h1>

    {{ govukButton({
        text: "Continue",
        href: "admin/user-research"
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-l">Previous iterations</h1>

    <p><a href="https://www.figma.com/proto/DMUJnp9WzB8Q6je6UKdz8B/Energy-for-Schools-scheme?node-id=1171-28271&p=f&t=zdYdbOjVy22oIIqK-1&scaling=scale-down-width&content-scaling=fixed&page-id=1171%3A25966&starting-point-node-id=1171%3A28271&show-proto-sidebar=1">Onboarding concept testing (round 2) - MAT (Figma)​</a></span></p>
    <p><a href="https://www.figma.com/proto/DMUJnp9WzB8Q6je6UKdz8B/Energy-for-Schools-scheme?node-id=1171-28315&p=f&t=zdYdbOjVy22oIIqK-1&scaling=scale-down-width&content-scaling=fixed&page-id=1171%3A25966&starting-point-node-id=1171%3A28315&show-proto-sidebar=1">Onboarding concept testing (round 2) - Single school (Figma)​</a></span></p>

    <p><a href="https://www.figma.com/proto/DMUJnp9WzB8Q6je6UKdz8B/Energy-for-Schools-scheme?node-id=160-9792&t=xjpg6Rbv840gPUG6-1&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=359%3A10839&show-proto-sidebar=1">Onboarding concept testing (round 1) - MAT (Figma)​</a></span></p>
    <p><a href="https://www.figma.com/proto/DMUJnp9WzB8Q6je6UKdz8B/Energy-for-Schools-scheme?node-id=1022-24629&t=P0AGX0P81DT5PRFt-1&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1022%3A24629&show-proto-sidebar=1">Onboarding concept testing (round 1) - Single school (Figma)​</a></span></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


  </div>
</div>

{% endblock %}
