{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['journeyType'] == "single-school" %}
      <span class="govuk-caption-l">St Mary's Primary School: Billing preferences</span>
      {% else %}
      <span class="govuk-caption-l">About your schools: Billing preferences</span>
      {% endif %}
      <h1 class="govuk-heading-l">Setting up your billing</h1>

      <form class="form" action="/sprint-7/mat-billing-contact?bp=inProgress" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "paymentType",
          fieldset: {
            legend: {
              text: "How will the bills be paid?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "BACS",
              text: "BACS"
            },
            {
              value: "Direct Debit",
              text: "Direct Debit"
            },
            {
              value: "Government Procurement Card",
              text: "Government Procurement Card"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "paymentTerms",
          fieldset: {
            legend: {
              text: "Payment terms",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "14 days",
              text: "14 days"
            },
            {
              value: "21 days",
              text: "21 days"
            },
            {
              value: "28 days",
              text: "28 days"
            },
            {
              value: "30 days",
              text: "30 days"
            }
          ]
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set ebillHtml %}
        {{ govukInput({
          id: "invoice-ebilling",
          name: "invoiceByEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-20",
          label: {
            text: "Email address"
          }
        }) }}
        {% endset -%}



        {{ govukRadios({
          name: "invoiceType",
          fieldset: {
            legend: {
              text: "How do you want to be invoiced?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "email",
              text: "Email",
              conditional: {
                html: ebillHtml
              }
            },
            {
              value: "paper",
              text: "Paper",
              conditional: {
                html: paperHtml
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
    
          {% if data['check-answers'] == "on" %}
          {% else %}
          <a class="govuk-link" href="/sprint-7/tasklist">Discard and go to task list</a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
