{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}

  {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

  {% block stylesheets %}
    {{ super() }}
    <link href="/public/sass/notify-branding.css" rel="stylesheet" type="text/css" />
  {% endblock %}

  {% block header %}
    <header class="govuk-header" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
          <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
          </div>
      </div>
    </header>
    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
      <div class="govuk-width-container">
          <div class="govuk-service-navigation__container">
              <span class="govuk-service-navigation__service-name">
                  <a href="/" class="govuk-service-navigation__link ">
                  {{serviceName}}
              </a>
              </span>
          </div>
      </div>
    </section>
  {% endblock %}
  {% block scripts %}
    {{ super() }}
    <script src="/public/javascripts/dfefrontend.js"></script>
  {% endblock %}

  {% block footer %}

  {% endblock %}
